body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: #232323;
}

.container{
    width: 960px;
    margin: 0 auto;
}

header{
    background-color: #232323;
    color: whitesmoke;
}

nav ul{
    display: flex;
    align-items: center;
    margin-top: 0;
    padding: 25px;
    list-style-type: none;
}


.logo{
    font-size: 28px;
    font-weight: 700;
}

.icon{
    width: 35px;
}

nav .fa{
    font-size: 28px;
    margin-left: auto;
    cursor: pointer;
}

h1{
    font-size: 80px;
    font-weight: 400;
    margin: 50px 145px 20px 25px;
    line-height: 1;
}

.item-img{
    width: 100%;
}