*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: #232323;
    font-size: 18px;
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

header{
    background-color: #232323;
    color: whitesmoke;
}

nav ul{
    display: flex;
    align-items: center;
    margin-top: 0;
    padding: 25px;
    list-style-type: none;
}


.logo{
    font-size: 28px;
    font-weight: 700;
}

.icon{
    width: 35px;
}

nav .fa{
    font-size: 28px;
    margin-left: auto;
    cursor: pointer;
}

h1{
    font-size: 80px;
    font-weight: 400;
    margin: 50px 25px 20px;
    line-height: 1;
}


.item{
    position: relative;
    margin-bottom: 50px;
}

/* .img-tag{
    background-color: orange;
    position: absolute;
    top: 0;
} */

.tag{
    font-size: 25px;
    font-weight: 700;
    padding: 25px 35px;
    background-color: orange;
    position: absolute;
    top: 0;
    margin: 0;
}

.item-img{
    width: 100%;
    display: block;
}

.caption{
    display: flex;
    justify-content: space-between;
    margin: 0 25px;
}

.btn{
    background-color: orange;
    border: none;
    padding: 14px 28px;
    font-size: 18px;
    font-weight: 700;
    align-self: center;
    cursor: pointer;
}

.chat{
    background-color: orange;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 6px;
    right: 6px;
    @media (min-width: 960px) {
        /*
          This calculation runs on screen wider than 960px.
          
          1. (100vw - 960px): Finds the total empty space.
          2. / 2: Gets the space on just the right side.
          3. + 6px: Adds 6px of "padding"
        */
        right: calc((100vw - 960px) / 2 + 6px);
    }
    border: none;
}

.chat-img{
    width: 55px;
    margin: auto;
}