body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: #232323;
}

.container{
    width: 960px;
    margin: 0 auto;
}

header{
    background-color: #232323;
    color: whitesmoke;
}

nav ul{
    display: flex;
    align-items: center;
    margin-top: 0;
    padding: 25px;
    list-style-type: none;
}


.logo{
    font-size: 28px;
    font-weight: 700;
}

.icon{
    width: 35px;
}

.fa{
    font-size: 28px;
    margin-left: auto;
}

.item-img{
    width: 100%;
}